# A. Practice

## Instacart Data Merge

In [1]:
import pandas as pd
import numpy as np
import os

In [10]:
fpath = r'C:\Users\n04\Desktop\EX4.6 Combining and Exporting Data'

In [12]:
df_ords_prior = pd.read_csv(os.path.join(fpath,'02 Data','Original','order_products_prior.csv'))

df_ords = pd.read_csv(os.path.join(fpath,'02 Data','Prepared','orders_checked.csv'))

In [18]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [15]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 7)

In [34]:
# combine current orders with prior orders
df_merge_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

# always double-check your merge rates using an outer join, as well,
# especially when youâ€™re exploring new data and performing test merges.

In [35]:
df_merge_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [36]:
df_merge_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

## Exporting Data in Pickle Format

In [37]:
# for csv
df_merge_large.to_csv(os.path.join(fpath, '02 Data','Prepared','orders_products_combined.csv'))

In [39]:
#for pickle - takes less time - a fraction
df_merge_large.to_pickle(os.path.join(fpath, '02 Data','Prepared','orders_products_combined.pkl'))