# B. Task

### Step 1 and 2  - see Part1 file

### Step 3

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
fpath = r'C:\Users\n04\Desktop\EX4.6 Combining and Exporting Data'

In [24]:
ords_prods_combined = pd.read_pickle(os.path.join(fpath,'02 Data','Prepared','orders_products_combined.pkl'))

In [6]:
ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

### Step 4

In [4]:
ords_prods_combined.shape

(32434489, 11)

### Step 5

In [13]:
#used the vars list because the index from the previous exercise was saved in the cleaned products file
var_list = ['product_id','product_name','aisle_id','department_id','prices'] 

prods_checked = pd.read_csv(os.path.join(fpath,'02 Data','Prepared','products_checked.csv'), usecols = var_list)

In [14]:
prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
prods_checked.shape

(49672, 5)

In [25]:
#Dropping '_merge' column in combined dataset above to avoid the value error in subsequent merge
#ValueError: Cannot use name of an existing column for indicator column

ords_prods_combined = ords_prods_combined.drop(columns = ['_merge'])

In [26]:
ords_prods_combined.shape

(32434489, 10)

In [37]:
# Merge datasets
ords_prods_merged_new = ords_prods_combined.merge(prods_checked, on = 'product_id', how = 'inner', indicator = True) 

ords_prods_merged_new.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

### Step 6

In [41]:
ords_prods_merged_new['_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

In [42]:
ords_prods_merged_new.shape

(32404859, 15)

This merge did not yeild a full match. Since the our focus is on current products, the inner join seemed ideal. Using a left join would produce NAN values. One reason can be that the product was discontinued thus no match in product ids.

In [40]:
# #view left only rows to form a rationale 

# ords_prods_merged_new
#     .loc[ords_prods_merged_new['_merge'] == 'left_only']
#     .sort_values(by=['product_id'])
#     .tail()

In [39]:
# prods_checked.tail()

### Step 7

In [44]:
#export merged dataframe

ords_prods_merged_new.to_pickle(os.path.join(fpath, '02 Data','Prepared','orders_products_merged.pkl'))