# A. Practice

In [1]:
def add_sum(x,y):
    sum = x + y
    return sum

In [2]:
add_sum(2,4)

6

In [3]:
def add_sum(x,y):
    sum = x + y
    print(sum)

In [4]:
add_sum(2,4) #printed but not returned

6

In [5]:
# import packages

import pandas as pd
import numpy as np
import os

In [6]:
fpath = r'C:\Users\n04\Desktop\EX4.6 Combining and Exporting Data'

In [7]:
ords_prods = pd.read_pickle(os.path.join(fpath,'02 Data','Prepared','orders_products_merged.pkl'))
ords_prods = ords_prods.drop(columns = ['eval_set','_merge'])
ords_prods.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [8]:
ords_prods.shape

(32404859, 13)

In [9]:
df = ords_prods[:1000000]
df.shape

(1000000, 13)

### If-Statements with User-Defined Functions

In [10]:
# function to derive a variable with categorical ranking of product prices

def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range'
    else: return 'Not enough data'

In [11]:
df['price_range'] = df.apply(price_label, axis = 1)
df.head()

#This axis = 1 stands for “rows,” so it’s essentially telling Python to apply the function to all rows within the dataframe.
#(Conversely, axis = 0 would refer to all columns within the dataframe.)
#Using the loc() method is a more preferable way of handling these types of operations.

<ipython-input-11-1aa733f9b7e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product

In [12]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [13]:
#most expensive product in the subset, to clarify assumption in previous cell
df['prices'].max()

14.8

### If-Statements with the loc() Function

In [14]:
#  By using loc(), you can apply the conditional logic of an if-statement to a function
#without explicitly creating an if-else construct.

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\ncvc04\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\ncvc04\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

C:\Users\ncvc04\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

C:\Users\ncvc04\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [17]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [18]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,price_range_loc
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Mid-range product

In [19]:
ords_prods.loc[ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
ords_prods.loc[(ords_prods['prices'] <= 15) & (ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
ords_prods.loc[ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
ords_prods['price_range_loc'].value_counts(dropna = False)

# If I tried to do the same thing with your user-defined function on a dataset of this magnitude,
# I would have received a memory error, but not so with loc().

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [23]:
# ords_prods[ords_prods['price_range_loc'].isnull() == True]

### If-Statements with For-Loops

In [24]:
for x in range(30, 45):
    print("My age is %d" % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [25]:
ords_prods['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [26]:
result = []

for value in ords_prods['order_dow']:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else: 
        result.append("Regular busy")
        
# Why would you want to follow this method rather than use a user-defined function? 
# Well, with this method, you’re only looping through one column of your dataframe,
# which will greatly speed up the performance (your user-defined function had to search through the entire dataframe).

In [27]:
result[1:20]

['Regular busy',
 'Regular busy',
 'Least busy',
 'Least busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Least busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Regular busy',
 'Least busy',
 'Regular busy',
 'Regular busy']

In [28]:
ords_prods['busiest_day'] = result

ords_prods['busiest_day'].value_counts(dropna = False)

Regular busy    22416875
Busiest day      6204182
Least busy       3783802
Name: busiest_day, dtype: int64

In [29]:
ords_prods.shape

(32404859, 15)

# B. Task

In [30]:
ords_prods.head(2)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy

### Step 2

In [31]:
ords_prods['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [32]:
#2 busiest days(s) and 2 slowest days(s)

res = []

for val in ords_prods['order_dow']:
    if (val == 0) or (val == 1):
        res.append("Busiest days")
    elif (val == 3) or (val == 4):
        res.append("Slowest days")
    else:
        res.append("Regular busy")
        
res[1:5]

['Slowest days', 'Slowest days', 'Slowest days', 'Slowest days']

In [38]:
ords_prods_new = ords_prods.rename(columns = {'busiest_day': 'busiest_days'}, inplace = False)

ords_prods_new.head(2)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy

In [39]:
ords_prods_new['busiest_days'] = res
ords_prods_new.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days

### Step 3

In [52]:
#check the values for accuracy

ords_prods_new['busiest_days'].value_counts(dropna = False)

Regular busy    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

In [54]:
# ords_prods_new[ords_prods_new['busiest_days'] == 'Busiest days']

ords_prods_new.loc[ords_prods_new['order_dow'].isin([0,1,3,4])].head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest days
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest days
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest days
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Busiest days
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest days

### Step 4

In [57]:
# get busiest hours
ords_prods_new['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

<b> Criteria definition </b><br>
Busiest hours: count >= 1,000,000<br>
Average hours: count between 100,000 and 999,999<br>
Lowest hours: count < 100,000<br>

In [64]:
res = []
busy = [10,11,14,15,13,12,16,9,17,8,18,19]
average = [20,7,21,22,23,6,0,1]
few = [5,2,4,3]


for val in ords_prods_new['order_hour_of_day']:
    if val in busy:
        res.append("Most orders")
    elif val in average:
        res.append("Average orders")
    elif val in few:
        res.append("Fewest orders")
    else:
         res.append("No value")

res[1:10]

['Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders']

In [65]:
ords_prods_new['busiest_period_of_day'] = res
ords_prods_new.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy,Most orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders

### Step 5

In [67]:
#frequency check
ords_prods_new['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     4324350
Fewest orders       261859
Name: busiest_period_of_day, dtype: int64

### Step 7

In [68]:
#data export
ords_prods_new.to_pickle(os.path.join(fpath, '02 Data','Prepared','ords_prods_derived_variables.pkl'))